@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.alert_box {
  z-index: 99999;
  position: fixed;
  top: 40px;
  right: -30%;
  animation: showing 3s ease-in-out backwards;
}

@keyframes showing {
  0% {
    right: -30%;
  }
  10% {
    right: 0%;
  }
  90% {
    right: 0%;
  }
  100% {
    right: -30%;
  }
}
